{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">University</th>
            <th scope="col">Short description</th>
        </tr>
        </thead>
        {% for x in university %}
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ x.university_name }}</td>
                <td>{{ x.university_description }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}