{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'university/style.css' %}">
{% endblock %}

{% block body %}
    <div class="main_h1__text">
        <h1 class="display-1">Universities</h1>
    </div>

    <div class="main_table">
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">University</th>
                <th scope="col">Short description</th>
            </tr>
            </thead>
            {% for data_from_databases in university %}
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="/university/{{ data_from_databases.id }}">{{ data_from_databases.university_name }}</a></td>
                    <td>{{ data_from_databases.university_description }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    </div>
{% endblock %}